.frost {
  background: #00000080 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}

body {
  background-image: url(../res/pexels-josh-sorenson-1154510/pexels-josh-sorenson-1154510.png);
  background-size: 150%;
  font-family: "Bahnschrift", Times, serif;
  font-weight: 100;
  font-size: 12px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  margin-top: 22px;
  margin-bottom: 22px;
  color: white;
  font-size: 12px;
}

.header .day-hours {
  color: #ffffff80;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10px;
}

.header .day-hours .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .day-hours .graphics {
  width: 120px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 100px 100px 0 0;
  border: 2px dashed;
  border-bottom: none;
}

.header .day-hours .hour {
  color: white;
}

.header .search-bar {
  width: 360px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 13px;
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-size: 14px;
}

.header .search-bar:focus-visible {
  outline: none;
}

.header select option:hover {
  background-color: black;
}

.content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 440px;
  height: 100px;
  border-radius: 109px;
  padding: 30px;
}

.content .display .icon-display {
  background-image: url(../res/svg/weather-day-thunderstorm.svg);
  background-size: 90px 90px;
  width: 90px;
  height: 90px;
  max-width: 30%;
}

.content .display .main-info-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 30%;
}

.content .display .main-info-display .temp {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
  font-size: 44px;
  margin-top: -14px;
  margin-bottom: -8px;
}

.content .display .main-info-display .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .display .main-info-display .time .hour {
  font-size: 22px;
}

.content .display .main-info-display .time .day {
  text-transform: capitalize;
  font-size: 12px;
}

.content .display .extra-info-display {
  color: #ffffff80;
  line-height: 1.5;
  max-width: 30%;
}

.content .display .extra-info-display .variables {
  color: white;
  opacity: 1;
}

.content .source {
  margin: 8px;
}

.content .source a {
  color: white;
  font-style: italic;
}

.avertizare {
  background: #FF000880 0% 0% no-repeat padding-box;
  width: 400px;
  height: 50px;
  border-radius: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.avertizare .cod-avert {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.avertizare .fenomen {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
}

.avertizare .fenomen .icon-fenomen {
  width: 30px;
  height: 30px;
  background-image: url(../res/svg/weather-day-thunderstorm_s.svg);
  background-size: 30px 30px;
  margin: 10px;
}

.avertizare .valabilitate-avert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.avertizare .icon-valab {
  width: 20px;
  height: 26px;
  background-image: url(../res/svg/timer.svg);
  background-size: 20px 26px;
  margin: 10px;
}

.footer {
  width: 380px;
  height: 180px;
  padding: 8px;
  border-radius: 100px 100px 0 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: ease-in-out;
          animation: ease-in-out;
}

.footer .footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -30px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: ease-in-out;
          animation: ease-in-out;
}

.footer .footer-title div {
  font-size: 12px;
  margin-right: 10px;
}

.footer .forecast {
  height: 75%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .forecast .section {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 26px;
}

.footer .forecast .section .day {
  font-size: 14px;
}

.footer .forecast .section .icon {
  width: 62px;
  height: 62px;
  margin-top: 10px;
}

.footer .forecast .section .rain-wind {
  background-image: url(../res/svg/weather-rain-wind_m.svg);
}

.footer .forecast .section .day-sunny {
  background-image: url(../res/svg/weather-day-sunny_m.svg);
}

.footer .forecast .section .temp {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */