// $bg-storm: url(https://www.sibiu.ro/webcamfeeds/webcam6.jpg?rand=952400);
$bg-storm: url(../res/pexels-josh-sorenson-1154510/pexels-josh-sorenson-1154510.png);
$icon-storm: url(../res/svg/weather-day-thunderstorm.svg);
$icon-storm_s: url(../res/svg/weather-day-thunderstorm_s.svg);
$icon-timer: url(../res/svg/timer.svg);
$frost: #00000080;
$font-family: "Bahnschrift", Times, serif;
$accent-font: 'M PLUS Rounded 1c', sans-serif;

.frost {
    background: $frost 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}


body {
    background-image: $bg-storm;
    background-size: 150%;
    // position: relative;
    font-family: $font-family;
    font-weight: 100;
    font-size: 12px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -60%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header  {
    margin-top: 22px;
    margin-bottom: 22px;
    color: white;
    font-size: 12px;

    .day-hours {
        color: #ffffff80;
        line-height: 1.5;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin: 10px;

        .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .graphics {
            width: 120px;
            height: 60px;
            // background-color: white;
            margin-right: 10px;
            margin-left: 10px;
            border-radius: 100px 100px 0 0;
            border: 2px dashed;
            border-bottom: none;
        }

        .hour {
            color: white;
        }
    }

    .search-bar {
        width: 360px;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 13px;
        border: none;

        color: white;

        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        font-size: 14px;
    }

    .search-bar:focus-visible {
        outline: none;
    }

    select option:hover {
        background-color: black;
    }
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .display {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        width: 440px;
        height: 100px;
        border-radius: 109px;
        padding: 30px;

        .icon-display {
            background-image: $icon-storm;
            background-size: 90px 90px;
            width: 90px;
            height: 90px;

            max-width: 30%;
        }

        .main-info-display {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;

            max-width: 30%;
            
            .temp {
                font-family: $accent-font;
                font-weight: 600;
                font-size: 44px;
                margin-top: -14px;
                margin-bottom: -8px;
            }

            .time {
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                
                .hour {
                    font-size: 22px;
                }

                .day {
                    text-transform: capitalize;
                    font-size: 12px;
                }
            }
        }
        
        .extra-info-display {
            color: #ffffff80;
            line-height: 1.5;
            
            max-width: 30%;
            .variables {
                color: white;
                opacity: 1;
            }
        }
    }
    .source {
        margin: 8px;

        a {
            color: white;
            font-style: italic;
        }
    }
}

.avertizare {
    background: #FF000880 0% 0% no-repeat padding-box;

    width: 400px;
    height: 50px;
    border-radius: 109px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    .cod-avert {
        font-family: $accent-font;
        font-weight: 600;
        font-size: 14px;
    }

    .fenomen {
        font-size: 14px;

        display: flex;
        align-items: center;
        flex-direction: row;

        margin: 10px;

        .icon-fenomen {
            width: 30px;
            height: 30px;
            background-image: $icon-storm_s;
            background-size: 30px 30px;
            margin: 10px;
        }
    }

    .valabilitate-avert {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .icon-valab {
        width: 20px;
        height: 26px;
        background-image: $icon-timer;
        background-size: 20px 26px;
        margin: 10px;
    }
}

.footer {
    width: 380px;
    height: 180px;
    padding: 8px;
    border-radius: 100px 100px 0 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    color: white;
    transition: all 0.5s;
    animation: ease-in-out;

    .footer-title {
        display: flex;
        margin: -30px;
        cursor: pointer;
        transition: all 0.5s;
        animation: ease-in-out;
        
        div {
            font-size: 12px;
            margin-right: 10px;
        }
    }

    .forecast {
        height: 75%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .section {
            width: 100%;
            align-content: center;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 26px;

            .day {
                font-size: 14px;
            }
    
            .icon {
                width: 62px;
                height: 62px;
                margin-top: 10px;
            }

            .rain-wind {
                background-image: url(../res/svg/weather-rain-wind_m.svg);
            }

            .day-sunny {
                background-image: url(../res/svg/weather-day-sunny_m.svg);
            }
    
            .temp {
                font-family: $accent-font;
                font-size: 22px;
                font-weight: 600;
            }
        }
    }
}
